@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');

* {
    text-rendering:optimizeLegibility!important;
    -webkit-font-smoothing:antialiased!important;
    -moz-osx-font-smoothing:grayscale;
    margin: 0;
    padding: 0;
}

html,
body,
header,
#intro {
    height: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

#intro {
    background: url("../resources/banner.png")no-repeat center center fixed;
    background-size: cover;
}

.top-nav-collapse {
    background-color: rgb(0, 11, 36);
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: rgb(0, 11, 36);;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: rgb(0, 11, 36);;
    }
  }

.wrapper-carousel-fix {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin-left: 40px;
    margin-right: auto;
}

#map-container-section {
    margin-right: 40px;
    margin-left: auto;
}

#map {
    height: 400px;
}

#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}


#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}