@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    text-rendering:optimizeLegibility!important;
    -webkit-font-smoothing:antialiased!important;
    -moz-osx-font-smoothing:grayscale;
    margin: 0;
    padding: 0;
}

form {
    margin-left: 30px;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.banner {
    height: 90vh;
    min-height: 400px;
    background-image: url('resources/breathtaking_banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#buttons {
    display: inline-block;
}

.dropdown-menu {
    width: 400%;
    height: auto;
    margin-left: 200px;
}

.carousel {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.product {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    text-align: center;
}

.card-body {
    text-align: center;
}

.card-img-top {
    object-fit: cover;
}

.card-img-top {
    /*height: 11vw;*/
    object-fit: cover;
}
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .card-img-top {
        height: 19vw;
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .card-img-top {
        height: 16vw;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .card-img-top {
        height: 11vw;
    }
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 992px) {
    .card-img-top {
        height: 11vw;
    }
  }