@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    text-rendering:optimizeLegibility!important;
    -webkit-font-smoothing:antialiased!important;
    -moz-osx-font-smoothing:grayscale;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    height: 100vh;
    min-height: 500px;
    background-image: url('../resources/breathtaking_banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}