@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    text-rendering:optimizeLegibility!important;
    -webkit-font-smoothing:antialiased!important;
    -moz-osx-font-smoothing:grayscale;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    height: 90vh;
    min-height: 400px;
    background-image: url('../resources/breathtaking_banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

#buttons {
    display: inline-block;
}

.dropdown-menu {
    width: 400%;
    height: auto;
    margin-left: 200px
}